[user]
	name = Jeffrey Pratt
	email = clementi@users.noreply.github.com
[core]
	autocrlf = true
    editor = vim
[push]
    default = simple
[alias]
    st = status -s
    lol = log --oneline --graph --decorate --all
    dt = difftool
    mt = mergetool
    br = checkout -b
    co = checkout
    ci = commit
    recent = log --pretty=format:'%h %s' --since=2.weeks
    unstage = reset HEAD --
    last = log -1 HEAD
    alias = config --get-regexp ^alias\\.
	leader = shortlog -sn
	diff = diff -w
	attr = blame
    tpull = pull --tags
    uncommit = reset HEAD^
    fr = !git fetch && git rebase
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[credential]
[winUpdater]
	recentlySeenVersion = 2.15.1.windows.2
