#!/usr/bin/env sh

export OSFONTDIR="$HOME/.local/share/fonts/:$HOME/.fonts:/usr/share/fonts"

export TYPST_FONT_PATHS=./fonts

export FREEPLANE_JAVA_HOME="/usr/lib/jvm/default-java"

{{ $cf := rbw "Cloudflare API" -}}
export CLOUDFLARE_EMAIL={{ $cf.data.username | quote }}
export CLOUDFLARE_API_TOKEN={{ $cf.data.password | quote }}
{{ range $cf.fields -}}
  {{ if eq .name "ZoneID" -}}
export CLOUDFLARE_JEFFREYPRATTNET_ZONE_ID={{ .value | quote }}
  {{ end -}}
{{ end -}}

{{ $paths := index .paths .chezmoi.os -}}
export GUILE_LOAD_PATH="{{ $paths.brew.home }}/share/guile/site/3.0"
export GUILE_LOAD_COMPILED_PATH="{{ $paths.brew.home }}/lib/guile/3.0/site-ccache"
export GUILE_SYSTEM_EXTENSIONS_PATH="{{ $paths.brew.home }}/lib/guile/3.0/extensions"

export PKG_CONFIG_PATH="/usr/lib/x86_64-linux-gnu/pkgconfig"

export EDITOR="{{ $paths.brew.bin }}/nvim"

export SSH_AUTH_SOCK=/home/jeff/.var/app/com.bitwarden.desktop/data/.bitwarden-ssh-agent.sock
