#!/usr/bin/env sh

alias rm='rm -i'

alias ls='eza --icons=auto'
alias l='ls -lag'

alias nv='nvim'
alias n='nv'
alias nvi='neovide'

alias tg='topgrade'
alias ue='tg -c -y --disable chezmoi pi --no-ask-retry --sudoloop'

alias hs='http-server'

{{ $os := .chezmoi.os -}}
{{ if eq $os "linux" -}}
alias zen='flatpak run app.zen_browser.zen'
{{ end -}}

# alias sbcl='rlwrap sbcl'

alias we='watchexec'

{{ if eq $os "linux" -}}
alias tad='textadept-curses'
alias gtad='textadept-gtk'
{{ end -}}

alias mi='mediainfo'

{{ if eq $os "linux" -}}
alias gimp='flatpak run org.gimp.GIMP'
{{ end -}}

alias tclsh='rlwrap tclsh'

alias python='python3'

alias bb='rlwrap bb'

alias oc='opencode'

alias fac='rlwrap /opt/factor/factor -run=listener'

alias obs='obsidian'

alias he='helium'

alias flix="java -jar $HOME/.local/bin/flix.jar"

alias sml='rlwrap sml'

alias cm='chezmoi'

alias e='emacs -nw'

alias ew='emacs'

elias npm='pnpm'
alias npx='pnpx'

unalias gst
